@model integradora555.Models.Alquiler

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center color colorinmo">CREAR NUEVO ALQUILER</h1>
<hr />
<div class="row">
    <div class="col-md-4 colorparacreates centrar color">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaDeAlquiler" class="control-label"></label>
                <input asp-for="FechaDeAlquiler" class="form-control" />
                <span asp-validation-for="FechaDeAlquiler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clienteId" class="control-label"></label>
                <select asp-for="clienteId" class ="form-control" asp-items="ViewBag.clienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="casaId" class="control-label"></label>
                <select asp-for="casaId" class ="form-control" asp-items="ViewBag.casaId"></select>
            </div>
            <div class="form-group espaciobajo">
                <input type="submit" value="Create" class="btn btn-primary espacio" />
                <a class="btn btn-light espacio" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

