@model integradora555.Models.Casa

@{
    ViewData["Title"] = "Create";
}

<h1 class="color">Crear</h1>

<h4 class="color">Casa</h4>
<hr />
<div class="row color1">
    <div class="col-md-4 centrar colorparacreates espacio">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group espacio">
                <label asp-for="NombreDeCasa" class="control-label"></label>
                <input asp-for="NombreDeCasa" class="form-control" />
                <span asp-validation-for="NombreDeCasa" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="domicilio" class="control-label"></label>
                <input asp-for="domicilio" class="form-control" />
                <span asp-validation-for="domicilio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreDueño" class="control-label"></label>
                <input asp-for="NombreDueño" class="form-control" />
                <span asp-validation-for="NombreDueño" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="imagenDeCasa" class="control-label"></label>
                <input asp-for="imagenDeCasa" class="form-control" />
                <span asp-validation-for="imagenDeCasa" class="text-danger"></span>
            </div>
            <div class="form-group espacio espaciobajo">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-light" asp-action="Index">volver a la lista</a>
</div>

