@model integradora555.Models.Casa

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Casa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CasaId" />
            <div class="form-group">
                <label asp-for="NombreDeCasa" class="control-label"></label>
                <input asp-for="NombreDeCasa" class="form-control" />
                <span asp-validation-for="NombreDeCasa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="domicilio" class="control-label"></label>
                <input asp-for="domicilio" class="form-control" />
                <span asp-validation-for="domicilio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreDueño" class="control-label"></label>
                <input asp-for="NombreDueño" class="form-control" />
                <span asp-validation-for="NombreDueño" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imagenDeCasa" class="control-label"></label>
                <input asp-for="imagenDeCasa" class="form-control" />
                <span asp-validation-for="imagenDeCasa" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="alquilada" /> @Html.DisplayNameFor(model => model.alquilada)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="eliminada" /> @Html.DisplayNameFor(model => model.eliminada)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-light" asp-action="Index">volver a la lista</a>
</div>

