@model integradora555.Models.Devolucion

@{
    ViewData["Title"] = "Create";
}



<h1 class="color text-center">Devolucion </h1>
<hr />
<div class="row">
    <div class="col-md-4 colorparacreates centrar color">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaDevolucion" class="control-label"></label>
                <input asp-for="FechaDevolucion" class="form-control" />
                <span asp-validation-for="FechaDevolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CasaId" class="control-label"></label>
                <select asp-for="CasaId" class ="form-control" asp-items="ViewBag.CasaId"></select>
            </div>
            <div class="form-group ">
                <input type="submit" value="Create" class="btn btn-primary espacio" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-light" asp-action="Index">Volver a la lista</a>
</div>

