@model integradora555.Models.Devolucion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Devolucion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DevolucionId" />
            <div class="form-group">
                <label asp-for="FechaDevolucion" class="control-label"></label>
                <input asp-for="FechaDevolucion" class="form-control" />
                <span asp-validation-for="FechaDevolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlqulerId" class="control-label"></label>
                <input asp-for="AlqulerId" class="form-control" />
                <span asp-validation-for="AlqulerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CasaId" class="control-label"></label>
                <select asp-for="CasaId" class="form-control" asp-items="ViewBag.CasaId"></select>
                <span asp-validation-for="CasaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteNombre" class="control-label"></label>
                <input asp-for="ClienteNombre" class="form-control" />
                <span asp-validation-for="ClienteNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CasaNombre" class="control-label"></label>
                <input asp-for="CasaNombre" class="form-control" />
                <span asp-validation-for="CasaNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

